<div>
    <h3><marquee>Page Administrateur</marquee></h3>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-primary">Supprimer  Produit</h1>
            <form action="">
                <div class="form-group">
                    <label for="idp">
                        <h3> Identfient du produit :</h3>
                    </label>
                
                    
                        <select  class="form-control" id="idp">
                            <option *ngFor="let prod of produit">{{prod.idp}}</option>
                        </select>

                </div>
                <br>
                <div class="row">
                        <div class="col-12 text-center">
                            <button type="button" name="b1" id="b1"
                                class="btn btn-primary btn-lg btn-block" (click)=" supp()"> Supprimer</button>
                            <br><br><br>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>