<div class="carousel">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../assets/summersale.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/joyeux-beau-mec-lunettes-posant-pres-du-mur-urbain-portant-t-shirt-sans-manches_8353-6923.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/26f197e37865bff2adc796768132d711.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
   </div>
  <h2> BestSellers </h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/sweatshirt.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike Sportswear Tech Pack</h5>
            <p class="card-text">Women's Hoodie</p>
            <a href="#" class="btn btn-primary">150dt</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/shoe.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike Air Zoom</h5>
            <p class="card-text">Women's running shoes</p>
            <a href="#" class="btn btn-primary button">125dt</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/mensportwear.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nike Sportswear JDI</h5>
            <p class="card-text">Men's Pullover Fleece Hoodie</p>
            <a href="#" class="btn btn-primary">160dt</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2> More SportX </h2>