<app-headear></app-headear>
<div class="container">
    <div class="row">
        <div class="col-sm-12  col-lg-4 col-xl-4 col-md-12 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/5.jpg" class="card-img-top" alt=".." height="150 px">
                <div class="card-body">
                    <h2 class="card-text">Survetement </h2>
                    <h2 class="card-text">120 DT</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-4 col-xl-4 col-md-12 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/produits/img4.png" class="card-img-top" alt=".." height="150 px">
                <div class="card-body">
                    <h2 class="card-text">materile muscliation </h2>
                    <h2 class="card-text">350 DT</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-4 col-xl-4 col-md-12 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/produits/img5.jpg" class="card-img-top" alt=".." height="150 px">
                <div class="card-body">
                    <h2 class="card-text"> chausseures </h2>
                    <h2 class="card-text">70 DT</h2>
                </div>
            </div>
        </div>
    
        <div class="col-sm-12  col-lg-4 col-xl-4 col-md-12 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/produits/img11.jpg" class="card-img-top" alt=".." height="150 px">
                <div class="card-body">
                    <h2 class="card-text">materile muscliation</h2>
                    <h2 class="card-text">110 DT</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-4 col-xl-4 col-md-12 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/produits/img13.jpg" class="card-img-top" alt=".." height="150 px">
                <div class="card-body">
                    <h2 class="card-text">Sac de Sport</h2>
                    <h2 class="card-text">70 DT</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-4 col-xl-4 col-md-12 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/produits/img14.jpg" class="card-img-top" alt=".." height="150 px">
                <div class="card-body">
                    <h2 class="card-text"> Balllon adidas </h2>
                    <h2 class="card-text">65 DT</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-4 col-xl-4 col-md-12 ">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/produits/img15.jpg" class="card-img-top" alt=".." height="150 px">
                <div class="card-body">
                    <h2 class="card-text"> Ballon de basket</h2>
                    <h2 class="card-text">80 DT</h2>
                </div>
            </div>
        </div>
</div></div>