<nav class="navbar navbar-light bg-light navu">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img src="../../assets/logo.PNG" alt="logo" class="logo">
        <i class=""></i></a>
      <form class="d-flex">
        <button class="btn btn-outline-warning " type="submit"><a class="lea" routerLink="/inscrit" routerLinkActive="active">Inscription</a></button>
        <button class="btn btn-outline-warning" type="submit"> <a class="lea" routerLink="/connexion" routerLinkActive="active">Connexion</a></button>
        <button class="btn btn-outline-warning" type="submit"> <a class="lea" routerLink="/auth" routerLinkActive="active">Admin</a></button>
      </form>
    </div>
  </nav>
  <nav  style="margin-top: 50px;">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
      <ul>
          <li><a href="#">HOMME</a></li>
          <li><a href='#'>FEMME</a></li>
          <li><a href="#">ENFANT</a></li>
          <li><a href="#">ACCESSOIRES</a></li>
      </ul> 
      </nav>